<div class="target-block flex sb mt_120">
    <div class="target-block__content">
        <h2 class="target-block__subtitle">Наша главная цель:</h2>
        <h3 class="target-block__title">Помочь Вам и сделать Вас успешнее!</h3>
        <div class="target-block__list flex">
            <div class="target-block__item">
                <div class="target-block__num">01</div>
                <div class="target-block__name">Доступ к обучающей платформе</div>
                <div class="target-block__img">
                    <img src="@img/articles/desktop_01.png" alt="desktop_01_img" />
                </div>
            </div>
            <div class="target-block__item">
                <div class="target-block__num">02</div>
                <div class="target-block__name">Книги</div>
                <div class="target-block__img">
                    <img src="@img/articles/desktop_02.png" alt="desktop_01_img" />
                </div>
            </div>
            <div class="target-block__item">
                <div class="target-block__num">03</div>
                <div class="target-block__name">Статьи</div>
                <div class="target-block__img">
                    <img src="@img/articles/desktop_03.png" alt="desktop_01_img" />
                </div>
            </div>
        </div>
    </div>
    <div class="target-block__banner">
        <img src="@img/articles/banner.png" alt="banner_img" />
    </div>
</div>
