<div class="fc container mt_120">
    <div class="fc__wrap flex sb">
        <div class="fc__name">
            Оставьте заявку <br />
            на партнерство
        </div>
        <form action="#" class="fc-form form" data-parsley-validate>
            <div class="input-box">
                <label>Ваше имя:</label>
                <input type="text" class="input-box__input" placeholder="Иван" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="3" data-parsley-group="basket" />
            </div>

            <div class="input-box">
                <label>Ваша почта:</label>
                <input type="text" class="input-box__input" placeholder="example@gmail.com" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-type="email" data-parsley-group="basket" />
            </div>

            <div class="input-box">
                <label>Ваш телефон:</label>
                <input type="text" class="input-box__input phone" placeholder="+7 (999) 999 00 99" required data-parsley-required-message="Поле обязательно к заполнению" data-parsley-pattern="\+7\s\(\d{3}\)\s\d{3}\s\d{4}" data-parsley-group="basket" data-parsley-group="basket" />
            </div>
            <div class="fc-form__bottom flex cv sb">
                <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" name="agree" required />
                    <span class="checkbox__text">
                        Согласен с Политикой <br />
                        конфиденциальности
                    </span>
                </label>
                <button class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </div>
</div>
