<section class="home-about flex mt_120">
    <div class="home-about__img">
        <img src="@img/home/about.png" alt="about_img" />
    </div>
    <div class="home-about__content">
        <small class="smallText">Nutrilab</small>
        <h2>Интернет-магазин</h2>
        <div class="home-about__list flex">
            <div class="home-about__item">
                <h5>Книги</h5>
                <a href="#" class="flex cv">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrowDetail"></use>
                    </svg>
                    Подробнее
                </a>
            </div>
            <div class="home-about__item">
                <h5>Методические материалы</h5>
                <a href="#" class="flex cv">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrowDetail"></use>
                    </svg>
                    Подробнее
                </a>
            </div>
            <div class="home-about__item">
                <h5>Мерч</h5>
                <a href="#" class="flex cv">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrowDetail"></use>
                    </svg>
                    Подробнее
                </a>
            </div>
        </div>
        <p class="mt_60">Мы — лаборатория персональной диагностики Chromolab. Вооружившись самым точным и современным методом лабораторных исследований — хромато-масс-спектрометрией — мы предоставляем нашим клиентам научную точность и мировой стандарт качества анализов.</p>
    </div>
</section>
