<div class="home-catalog">
    <div class="container">
        <section class="top-hc">
            <div class="top-hc__content">
                <small class="smallText">Популярные анализы</small>
                <h3>Сдавайте анализы так, как удобно именно вам</h3>
                <a href="#" class="top-hc__link all-link"><span>Показать больше</span> </a>
            </div>
            <div class="top-hc__img">
                <img src="@img/home/top-hc.png" alt="top-hc_img" />
            </div>
        </section>
        <div class="home-catalog__slider _swiper">
            <div class="cart-product">
                <div class="cart-product__sections flex">
                    <div>Комплекс</div>
                    <div>Nutri11</div>
                </div>
                <a href="#" class="cart-product__name link-hover">Чекап кислотности желудочного сока</a>
                <ul>
                    <li>
                        <div>Биоматериал:</div>
                        <div>Кровь</div>
                    </li>
                    <li>
                        <div>Срок исполнения:</div>
                        <div>12 дн</div>
                    </li>
                    <li>
                        <div>Стоимость</div>
                        <div>5 210 ₽</div>
                    </li>
                </ul>
                <div class="cart-product__btns flex">
                    <a href="#" class="btn btn-outline swiper-no-swiping">Подробнее</a>
                    <button class="btn btn-primary cart-product__basket swiper-no-swiping">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#basket"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cart-product">
                <div class="cart-product__sections flex">
                    <div>Комплекс</div>
                    <div>Nutri11</div>
                </div>
                <a href="#" class="cart-product__name link-hover">Диагностика пищевой непереносимости IgG4 (96 аллергенов и микстов аллергенов)</a>
                <ul>
                    <li>
                        <div>Биоматериал:</div>
                        <div>Кровь</div>
                    </li>
                    <li>
                        <div>Срок исполнения:</div>
                        <div>12 дн</div>
                    </li>
                    <li>
                        <div>Стоимость</div>
                        <div>5 210 ₽</div>
                    </li>
                </ul>
                <div class="cart-product__btns flex">
                    <a href="#" class="btn btn-outline swiper-no-swiping">Подробнее</a>
                    <button class="btn btn-primary cart-product__basket swiper-no-swiping">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#basket"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cart-product">
                <div class="cart-product__sections flex">
                    <div>Комплекс</div>
                    <div>Nutri11</div>
                </div>
                <a href="#" class="cart-product__name link-hover">Чекап кислотности желудочного сока</a>
                <ul>
                    <li>
                        <div>Биоматериал:</div>
                        <div>Кровь</div>
                    </li>
                    <li>
                        <div>Срок исполнения:</div>
                        <div>12 дн</div>
                    </li>
                    <li>
                        <div>Стоимость</div>
                        <div>5 210 ₽</div>
                    </li>
                </ul>
                <div class="cart-product__btns flex">
                    <a href="#" class="btn btn-outline swiper-no-swiping">Подробнее</a>
                    <button class="btn btn-primary cart-product__basket swiper-no-swiping">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#basket"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cart-product">
                <div class="cart-product__sections flex">
                    <div>Комплекс</div>
                    <div>Nutri11</div>
                </div>
                <a href="#" class="cart-product__name link-hover">Диагностика пищевой непереносимости IgG4 (96 аллергенов и микстов аллергенов)</a>
                <ul>
                    <li>
                        <div>Биоматериал:</div>
                        <div>Кровь</div>
                    </li>
                    <li>
                        <div>Срок исполнения:</div>
                        <div>12 дн</div>
                    </li>
                    <li>
                        <div>Стоимость</div>
                        <div>5 210 ₽</div>
                    </li>
                </ul>
                <div class="cart-product__btns flex">
                    <a href="#" class="btn btn-outline swiper-no-swiping">Подробнее</a>
                    <button class="btn btn-primary cart-product__basket swiper-no-swiping">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#basket"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cart-product">
                <div class="cart-product__sections flex">
                    <div>Комплекс</div>
                    <div>Nutri11</div>
                </div>
                <a href="#" class="cart-product__name link-hover">Чекап кислотности желудочного сока</a>
                <ul>
                    <li>
                        <div>Биоматериал:</div>
                        <div>Кровь</div>
                    </li>
                    <li>
                        <div>Срок исполнения:</div>
                        <div>12 дн</div>
                    </li>
                    <li>
                        <div>Стоимость</div>
                        <div>5 210 ₽</div>
                    </li>
                </ul>
                <div class="cart-product__btns flex">
                    <a href="#" class="btn btn-outline swiper-no-swiping">Подробнее</a>
                    <button class="btn btn-primary cart-product__basket swiper-no-swiping">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#basket"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
