<section class="home-news mt_120 @@class">
    <div class="home-news__top flex sb cv container">
        <h2 class="subtitle">Новости</h2>
        <a href="#" class="all-link">
            <span>Ко всем новостям</span>
        </a>
    </div>
    <div class="home-news__wrap container">
        <div class="home-news__slider _swiper">
            <a href="#" class="home-news__slide" style="background-image: url('img/news/slider/01.png')">
                <h5>ТАБЛЕТКИ</h5>
                <p>Как выбрать?</p>
            </a>
            <a href="#" class="home-news__slide" style="background-image: url('img/news/slider/02.png')">
                <h5 class="black">Будь на связи!</h5>
            </a>
            <a href="#" class="home-news__slide" style="background-image: url('img/news/slider/03.png')">
                <h5>АНАЛИЗЫ</h5>
                <p>Что сдавать?</p>
            </a>
            <a href="#" class="home-news__slide" style="background-image: url('img/news/slider/04.png')">
                <h5>ТАБЛЕТКИ</h5>
                <p>Как выбрать?</p>
            </a>
            <a href="#" class="home-news__slide" style="background-image: url('img/news/slider/05.png')">
                <h5>Будь на связи!</h5>
            </a>
            <a href="#" class="home-news__slide" style="background-image: url('img/news/slider/06.png')">
                <h5>ТАБЛЕТКИ</h5>
                <p>Как выбрать?</p>
            </a>
            <a href="#" class="home-news__slide" style="background-image: url('img/news/slider/05.png')">
                <h5>Будь на связи!</h5>
            </a>
        </div>
    </div>
</section>
