<div class="feedback-block container mt_120">
    <div class="feedback-block__wrap flex">
        <div class="feedback-block__col">
            <small class="smallText">Есть вопрос?</small>
            <h4>Свяжитесь с нами любым удобным способом:</h4>
            <div class="feedback-block__list">
                <div class="feedback-block__item">
                    <div class="feedback-block__img">
                        <img src="https://chromolab2.devmeg.ru/local/templates/chromolab_2024/img/info-wa.svg" alt="whatsapp_icon" />
                    </div>
                    <div class="feedback-block__text">
                        <p>Задайте любой вопрос в WhatsApp</p>
                        <a href="tel:+79990000000" class="link-hover">+7 (999) 000-00-00</a>
                    </div>
                </div>
                <div class="feedback-block__item">
                    <div class="feedback-block__img">
                        <img src="@img/icons/mailto.svg" alt="mailto_icon" />
                    </div>
                    <div class="feedback-block__text">
                        <p>Напишите нам на почту, если так привычнее</p>
                        <a href="mailto:info@nutrilab.pro" class="link-hover">info@nutrilab.pro</a>
                    </div>
                </div>
                <div class="feedback-block__item">
                    <div class="feedback-block__img">
                        <img src="@img/icons/phone.svg" alt="phone_icon" />
                    </div>
                    <div class="feedback-block__text">
                        <p>Позвоните, если ваш вопрос не может ждать</p>
                        <a href="tel:+74950000000" class="link-hover">+7 (495) 000-00-00</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback-block__col">
            <small class="smallText">Хотите быть в курсе?</small>
            <h4>Подпишитесь на нас в социальных сетях</h4>
            <div class="feedback-block__list">
                <div class="feedback-block__item">
                    <div class="feedback-block__img">
                        <img src="@img/icons/telegram.svg" alt="telegram_icon" />
                    </div>
                    <div class="feedback-block__text">
                        <p>Telegram-каналс полезными статьями</p>
                        <a href="https://tg.ru" class="link-hover">@NutrilabPro</a>
                    </div>
                </div>
                <div class="feedback-block__item">
                    <div class="feedback-block__img">
                        <img src="@img/icons/vk.svg" alt="vk_icon" />
                    </div>
                    <div class="feedback-block__text">
                        <p>Сообщество Вконтакте с важными новостями</p>
                        <a href="https://vk.com" class="link-hover">@nutrilabpro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
