<div class="advent-corp container flex fw mt_120">
    <div class="advent-corp__name flex cv"><h2>Преимущество работы с&nbsp;Nutrilab</h2></div>
    <div class="advent-corp__item">
        <div class="advent-corp__icon"><img src="@img/corp/advent/01.svg" alt="advent_01" /></div>
        <div class="advent-corp__subtitle">Консультирование специалистов по интерпретации лабораторных исследований их клиентов</div>
    </div>
    <div class="advent-corp__item">
        <div class="advent-corp__icon"><img src="@img/corp/advent/02.svg" alt="advent_02" /></div>
        <div class="advent-corp__subtitle">Круглосуточная поддержка специалистов, предоставление персонального менеджера</div>
    </div>
    <div class="advent-corp__item">
        <div class="advent-corp__icon"><img src="@img/corp/advent/03.svg" alt="advent_03" /></div>
        <div class="advent-corp__subtitle">Широкий спектр исследований, необходимый для оценки клиента</div>
    </div>
    <div class="advent-corp__item">
        <div class="advent-corp__icon"><img src="@img/corp/advent/04.svg" alt="advent_04" /></div>
        <div class="advent-corp__subtitle">Бесплатное обучение по расшифровке лабораторных исследований</div>
    </div>
    <div class="advent-corp__item">
        <div class="advent-corp__icon"><img src="@img/corp/advent/05.svg" alt="advent_05" /></div>
        <div class="advent-corp__subtitle">Возможность стать консультантом-экспертом NUTRILAB</div>
    </div>
    <div class="advent-corp__item">
        <div class="advent-corp__icon"><img src="@img/corp/advent/06.svg" alt="advent_06" /></div>
        <div class="advent-corp__subtitle">Принимать участие на мероприятиях NutriLab</div>
    </div>
    <div class="advent-corp__item">
        <div class="advent-corp__icon"><img src="@img/corp/advent/07.svg" alt="advent_07" /></div>
        <div class="advent-corp__subtitle">Персональные предложения для поддержания здорового образа жизни</div>
    </div>
</div>
