<header class="header @@class">
    <div class="container">
        <div class="header-top flex sb cv">
            <a href="/" class="header-top__logo">
                <img src="@img/logo_header_secondary.svg" class="secondary_logo" alt="logo_header_icon" />
                <img src="@img/logo_header.svg" class="secondary_primary" alt="logo_header_icon" />
            </a>
            <div class="header-control flex cv">
                <a href="tel:+74953693309" class="header-control__phone link-hover">+7 (495) 369-33-09</a>
                <div class="down" data-da=".burger__body,1023,3">
                    <div class="down__val flex cv">
                        <span>Клиентам</span>
                        <div><img src="@img/icons/arrow-down.svg" alt="arrow-down_icon" /></div>
                    </div>
                    <div class="down__list">
                        <a href="#" class="down__link flex cv ch">Специалистам</a>
                    </div>
                </div>
                <div class="header-control__list flex">
                    <a href="#" class="header-control__link header-control__link_notification flex cv sb">
                        <span>Результаты анализов</span>
                        <div class="flex cv ch">
                            <svg class="icon">
                                <use xlink:href="img/sprite.svg#notification"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="header-control__link header-control__link_delivery flex cv ch" data-da=".header-bottom, 1023, 1">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#delivery"></use>
                        </svg>
                    </a>
                    <a href="#" class="header-control__link header-control__link_lk flex cv sb" data-da=".header-bottom, 767,2">
                        <span>Личный кабинет</span>
                        <div class="flex cv ch">
                            <svg class="icon">
                                <use xlink:href="img/sprite.svg#user"></use>
                            </svg>
                        </div>
                    </a>
                    <button class="header-control__link header-control__link_burger openBurger flex cv ch">
                        <svg class="icon icon_burger">
                            <use xlink:href="img/sprite.svg#burger"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="header-bottom flex cv mt_20">
            <form class="search-head flex cv">
                <button class="search-head__btn flex-cc">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </button>
                <input type="text" name="s" class="search-head__input" placeholder="Поиск" />
            </form>
            <nav class="menu-head flex cv sb">
                <a href="#" class="menu-head__link menu-head__link_catalog">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#catalog"></use>
                    </svg>
                    Анализы
                </a>
                <a href="#" class="menu-head__link">Выезд на дом</a>
                <a href="#" class="menu-head__link">Акции</a>
                <a href="#" class="menu-head__link">Сотрудничество</a>
                <a href="#" class="menu-head__link">Адреса</a>
            </nav>
            <a href="#" class="basket-head flex">
                <span class="basket-head__text flex cv">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#basket"></use>
                    </svg>
                    Корзина
                </span>
                <span class="basket-head__count flex-cc">32</span>
            </a>
        </div>
    </div>
</header>
<div class="burger">
    <div class="burger__top flex sb">
        <a href="/" class="burger__logo"><img src="@img/logo_header.svg" alt="logo_header_icon" /></a>
        <button class="burger__close _close">
            <svg class="icon">
                <use xlink:href="img/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
    <div class="burger__body">
        <ul class="burger-menu">
            <li><a href="#" class="link-hover">Все анализы</a></li>
            <li><a href="#" class="link-hover">Акции</a></li>
            <li><a href="#" class="link-hover">Выезд на дом</a></li>
            <li><a href="#" class="link-hover">О нас</a></li>
            <li><a href="#" class="link-hover">Адреса центров</a></li>
            <li class="burger-menu__drop">
                <div class="burger-menu__val flex cv sb">
                    <a href="#" class="link-hover">Пациентам</a>
                    <div class="burger-menu__btn">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#arrDrop"></use>
                        </svg>
                    </div>
                </div>
                <ul class="burger-menu__list">
                    <li><a href="#" class="link-hover">Пункт 1</a></li>
                    <li><a href="#" class="link-hover">Пункт 2</a></li>
                </ul>
            </li>
            <li class="burger-menu__drop">
                <div class="burger-menu__val flex cv sb">
                    <a href="#" class="link-hover">Врачам</a>
                    <div class="burger-menu__btn">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#arrDrop"></use>
                        </svg>
                    </div>
                </div>
                <ul class="burger-menu__list">
                    <li><a href="#" class="link-hover">Пункт 1</a></li>
                    <li><a href="#" class="link-hover">Пункт 2</a></li>
                </ul>
            </li>
            <li class="burger-menu__drop">
                <div class="burger-menu__val flex cv sb">
                    <a href="#" class="link-hover">Партнерам</a>
                    <div class="burger-menu__btn">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#arrDrop"></use>
                        </svg>
                    </div>
                </div>
                <ul class="burger-menu__list">
                    <li><a href="#" class="link-hover">Пункт 1</a></li>
                    <li><a href="#" class="link-hover">Пункт 2</a></li>
                </ul>
            </li>
        </ul>
        <div class="burger-contact dc flex">
            <a href="tel:+74953693309" class="burger-contact__phone link-hover">+ 7 (495) 369-33-09</a>
            <a href="mailto:" class="burger-contact__mail link-hover">info@nutrilab.pro</a>
        </div>
        <div class="down down_city">
            <div class="down__val flex cv">
                <span>Санкт-Петербург</span>
                <div><img src="@img/icons/arrow-down.svg" alt="arrow-down_icon" /></div>
            </div>
            <div class="down__list">
                <a href="#" class="down__link flex cv ch">Москва</a>
            </div>
        </div>
        <div class="social-block flex cv sb">
            <div class="social-block__text">Мы в соцсетях:</div>
            <div class="social-block__list flex">
                <a href="#" class="social-block__link">
                    <img src="@img/icons/social_01.png" alt="youtube_icon" />
                </a>
                <a href="#" class="social-block__link">
                    <img src="@img/icons/social_02.png" alt="telegram_icon" />
                </a>
                <a href="#" class="social-block__link">
                    <img src="@img/icons/social_03.png" alt="vk_icon" />
                </a>
            </div>
        </div>
    </div>
</div>
