<footer class="footer mt_120 container">
    <div class="footer__top flex fe cv">
        <a href="/" class="footer__logo">
            <img src="@img/logo_footer.svg" alt="logo_footer_img" />
        </a>
        <div class="footer__prava">
            2024, Nutrilab. <br />
            Все права защищены.
        </div>
        <button id="up-btn">
            <span>Наверх</span>
            <div class="flex-cc">
                <svg class="icon">
                    <use xlink:href="img/sprite.svg#arrowUp"></use>
                </svg>
            </div>
        </button>
    </div>
    <div class="footer__wrap flex sb">
        <div class="footer-info flex">
            <div class="footer-info__col">
                <p>
                    ООО «ХромсистемсЛаб» <br />
                    ИНН 7727719369
                </p>
                <p>
                    ООО «ХРОМОЛАБ»<br />
                    ИНН 7727419598
                </p>
                <p>
                    ООО «ХРОМОЛАБ-СПБ»<br />
                    ИНН 7841095780117246
                </p>
                <a href="#" class="footer-info__partner-link link-hover">
                    <span>Наш партнер</span>
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrMinLink"></use>
                    </svg>
                </a>
                <div class="footer-info__bottom flex cv">
                    <button class="eye">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#eye"></use>
                        </svg>
                    </button>
                    <div class="down down_lang">
                        <div class="down__val flex cv">
                            <div><img src="@img/icons/arrow-down_silver.svg" alt="arrow-down_icon" /></div>
                            <span>RU</span>
                        </div>
                        <div class="down__list">
                            <a href="#" class="down__link flex cv ch">EN</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-info__col">
                <a href="tel:+74953693309" class="footer-info__link link-hover">
                    <span><img src="@img/icons/tel.svg" alt="tel_icon" /></span>+ 7 (495) 369-33-09
                </a>
                <a href="mailto:info@nutrilab.pro" class="footer-info__link link-hover">
                    <span><img src="@img/icons/mail.svg" alt="mail_icon" /></span>info@nutrilab.pro
                </a>
                <p>г. Москва, Научный проезд, 20, строение 2, эт/пом/ком 2/I/22-30</p>
                <a href="#" class="footer-info__partner-img">
                    <img src="@img/partner_footer.svg" alt="partner_footer_img" />
                </a>
            </div>
        </div>
        <div class="menu-footer flex as">
            <div class="menu-footer__item active">
                <button class="menu-footer__btn">
                    Пациентам
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrowDropFooter"></use>
                    </svg>
                </button>
                <ul class="menu-footer__list">
                    <li>
                        <a href="#" class="link-hover">Анализы</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Подготовка к анализам</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Предварительный заказ</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Справки</a>
                    </li>
                </ul>
            </div>
            <div class="menu-footer__item active">
                <button class="menu-footer__btn">
                    Специалистам
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrowDropFooter"></use>
                    </svg>
                </button>
                <ul class="menu-footer__list">
                    <li>
                        <a href="#" class="link-hover">Назначения</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Документация</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Сроки и оплата</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Личный кабинет</a>
                    </li>
                </ul>
            </div>
            <div class="menu-footer__item active">
                <button class="menu-footer__btn">
                    О компании
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrowDropFooter"></use>
                    </svg>
                </button>
                <ul class="menu-footer__list">
                    <li>
                        <a href="#" class="link-hover">О нас</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Контакты</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Оплата и заказ</a>
                    </li>
                    <li>
                        <a href="#" class="link-hover">Адреса</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-fotter flex sb">
        <div class="bottom-fotter__left flex dc">
            <a href="#" class="link-hover">Политика конфиденциальности</a>
            <a href="#" class="link-hover">Согласие на обработку персональных данных</a>
        </div>
        <div class="bottom-fotter__right flex cv">
            <div class="bottom-fotter__img flex">
                <div><img src="@img/icons/pay_01.svg" alt="pay_01_icon" /></div>
                <div><img src="@img/icons/pay_02.svg" alt="pay_02_icon" /></div>
            </div>
            <p class="right">
                Безопасность платежей гарантируется использованием SSL протокола. Данные вашей <br />
                банковской карты надежно защищены при оплате онлайн
            </p>
        </div>
    </div>
</footer>
<div class="chat-btn">
    <div class="chat-btn__text">
        <span>Меня зовут Нутрик!</span> <br />
        Буду рад Вам помочь!
    </div>
    <div class="chat-btn__icon">
        <img src="@img/icons/chat.svg" alt="chat_icon" />
    </div>
</div>
<div class="popup-order">
    <div class="popup-order__wrap">
        <button class="popup-order__close _close">
            <svg class="icon">
                <use xlink:href="img/sprite.svg#close_hash"></use>
            </svg>
        </button>
        <div class="popup-order__head flex cv sb">
            <div class="popup-order__title">Завершите оформление выезда на дом:</div>
            <div class="popup-order__step flex">
                <div class="active">01</div>
                <div>02</div>
                <div>03</div>
            </div>
        </div>
        <form action="" class="popup-order__form" data-parsley-validate>
            <div id="popup-of-1" class="popup-order__item flex active">
                <div class="popup-order__col">
                    <div class="input-box">
                        <label>Фамилия:</label>
                        <input type="text" class="input-box__input" placeholder="Иванов" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="3" data-parsley-group="block1" />
                    </div>
                    <div class="input-box">
                        <label>Имя:</label>
                        <input type="text" class="input-box__input" placeholder="Иван" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="3" data-parsley-group="block1" />
                    </div>
                    <div class="input-box">
                        <label>Отчество:</label>
                        <input type="text" class="input-box__input" placeholder="Иванович" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="3" data-parsley-group="block1" />
                    </div>
                    <div class="input-box input-box_date">
                        <label>Дата рождения:</label>
                        <input type="date" class="input-box__input dateFrom" placeholder="01.08.1980" required data-parsley-minlength="10" data-parsley-required-message="Поле обязательно к заполнению" data-parsley-group="block1" />
                    </div>
                    <div class="input-box">
                        <label>Номер заказа (опционально):</label>
                        <input type="number" class="input-box__input" placeholder="01297423948234" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="3" data-parsley-group="block1" />
                    </div>
                </div>
                <div class="popup-order__col">
                    <div class="input-box">
                        <label>Почта:</label>
                        <input type="text" class="input-box__input" placeholder="example@gmail.com" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-type="email" data-parsley-group="block1" />
                    </div>
                    <div class="input-box">
                        <label>Телефон:</label>
                        <input type="text" class="input-box__input phone" placeholder="+7 (999) 999 00 99" required data-parsley-required-message="Поле обязательно к заполнению" data-parsley-pattern="\+7\s\(\d{3}\)\s\d{3}\s\d{4}" data-parsley-group="block1" />
                    </div>
                    <div class="input-box">
                        <label>Ваш пол:</label>
                        <select id="select_pol3" tabindex="-1" class="js-example-basic-single" placeholder="Выберите" data-parsley-group="basket">
                            <option value="">Выберите</option>
                            <option value="Мужской">Мужской</option>
                            <option value="Женский">Женский</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label>Количество пациентов:</label>
                        <div class="quantity">
                            <button type="button" class="quantity__button quantity__button_minus"><img src="@img/icons/minus.svg" alt="minus_icon" /></button>
                            <div class="quantity__input">
                                <input autocomplete="off" type="text" name="form[]" value="1" required />
                            </div>
                            <button type="button" class="quantity__button quantity__button_plus"><img src="@img/icons/plus.svg" alt="plus_icon" /></button>
                        </div>
                    </div>
                    <button type="button" id="btn-step-1" class="btn btn-primary">Далее</button>
                </div>
            </div>
            <div id="popup-of-2" class="popup-order__item">
                <div class="input-box">
                    <label>Город:</label>
                    <input type="text" class="input-box__input" placeholder="Москва" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="3" data-parsley-group="block2" />
                </div>
                <div class="input-box">
                    <label>Улица, дом, корпус:</label>
                    <input type="text" class="input-box__input" placeholder="ул. Новый Арбат, 115, лит. А" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="3" data-parsley-group="block2" />
                </div>
                <div class="popup-order__col3 flex">
                    <div class="input-box">
                        <label>Подъезд:</label>
                        <input type="number" class="input-box__input" placeholder="3" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="1" data-parsley-group="block2" />
                    </div>
                    <div class="input-box">
                        <label>Этаж:</label>
                        <input type="number" class="input-box__input" placeholder="7" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="1" data-parsley-group="block2" />
                    </div>
                    <div class="input-box">
                        <label>Квартира:</label>
                        <input type="number" class="input-box__input" placeholder="10" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-minlength="1" data-parsley-group="block2" />
                    </div>
                </div>
                <div class="popup-order__col2 flex">
                    <div class="input-box input-box_date">
                        <label>Дата выезда:</label>

                        <input type="date" class="input-box__input dateFrom" placeholder="01.08.1980" data-date-format="MM/DD/YYYY" required data-parsley-minlength="10" data-parsley-required-message="Поле обязательно к заполнению" data-parsley-group="block2" />
                    </div>
                    <div class="input-box">
                        <label>Время выезда:</label>
                        <select id="time2" tabindex="-1" class="js-example-basic-single" placeholder="Выберите" data-parsley-group="basket">
                            <option value="">Выберите</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                        </select>
                    </div>
                </div>
                <div class="popup-order__bottom flex sb cv">
                    <div class="popup-order__time">
                        <span><img src="@img/icons/clock.svg" alt="clock-img" /></span>
                        <p>
                            Выезд осуществляется <br />
                            с 7:30 до 16:00
                        </p>
                    </div>
                    <button type="button" id="btn-step-2" class="btn btn-primary">Далее</button>
                </div>
            </div>
            <div id="popup-of-3" class="popup-order__item">
                <div class="input-box">
                    <label>Комментарий:</label>
                    <textarea name="" id="" class="input" placeholder="Дополнительная информация, необходимость пропуска, код домофона" data-parsley-group="block3"></textarea>
                </div>
                <div class="input-box file">
                    <label>Прикрепите назначения (опционально):</label>
                    <div class="file__wrap">
                        <label class="file__label flex cv" for="file-result">
                            <svg>
                                <use xlink:href="img/sprite.svg#clip"></use>
                            </svg>
                            Добавьте файлы (до 10)
                        </label>
                        <input type="file" id="file-result" class="file__input" multiple />
                    </div>
                </div>
                <div class="popup-order__bottom flex sb cv">
                    <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" data-parsley-multiple="checkbox" name=" " required data-parsley-group="block3" />
                        <span class="checkbox__text">
                            Я даю согласие на обработку <br />
                            персональных данных
                        </span>
                    </label>
                    <button type="button" id="btn-step-3" class="btn btn-primary">Оформить выезд на дом</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="popup">
    <div class="popup__wrap">
        <button class="popup__close _close">
            <svg class="icon">
                <use xlink:href="img/sprite.svg#close_hash"></use>
            </svg>
        </button>
        <h4 class="popup__title title"></h4>
        <p class="popup__text"></p>
    </div>
</div>
<script src="js/libs/jquery3.6.1.js"></script>
<script src="js/libs/simplebar/simplebar.js"></script>
<script src="js/libs/parsley.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script src="js/libs/swiper.js"></script>
<script src="js/libs/dynamic_adapt.js"></script>
<script src="js/libs/select2.min.js"></script>
<script src="js/app.js"></script>
<script src="js/script.js"></script>
