<div class="intro corp-intro">
    <div class="corp-intro__wrap container">
        <div class="corp-intro__overlay flex sb ae">
            <div class="corp-intro__left">
                <div class="corp-intro__subtitle">Nutrilab – первая лаборатория для нутрициологов в России, которая направлена на сотрудничество со всеми приверженцами здорового образа жизни</div>
            </div>
            <div class="spec-about">
                <div class="spec-about__wrap flex cv">
                    <div class="spec-about__icons">
                        <img src="@img/icons/users.svg" alt="users__icon" />
                    </div>
                    <div class="spec-about__text">
                        <span>700+</span>
                        более 700 специалистов помогающих профессий
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Начать сотрудничество</a>
        </div>
    </div>
</div>
