<section class="home-adv container mt_120">
    <div class="home-adv__wrap flex fe">
        <div class="home-adv__content">
            <h2>Почему нам доверяют?</h2>
            <p>NUTRILAB - первая лаборатория для нутрициологов в России, которая создана на базе научно-лабораторного комплекса Chromolab. Ориентирована на нутрициологов и:</p>
            <div class="home-adv__jobs flex fw">
                <div>тренерам</div>
                <div>health-коучам</div>
                <div>дерматологам</div>
                <div>дерматовенерологам</div>
                <div>косметологам</div>
                <div>трихологам</div>
                <div>врачам спортивной медицины</div>
                <div>биохакерам</div>
            </div>
        </div>
        <div class="home-adv__items flex fw">
            <div class="home-adv__item">
                <h5>> <span data-digits-counter data-digits-counter-speed="2500">30 000</span></h5>
                <p>Более 30 000 пациентов сдали <nobr>анализы в наших</nobr> лабораториях</p>
            </div>
            <div class="home-adv__item">
                <h5>> 20 лет</h5>
                <p>Лаборатория Chromolab <nobr>работает уже более</nobr> 20 лет</p>
            </div>
            <div class="home-adv__item">
                <h5>> 600</h5>
                <p>Нам доверяют более 600 нутрициологов, спортсменов, диетологов, психологов по всему миру</p>
            </div>
            <div class="home-adv__item">
                <h5>> <span data-digits-counter data-digits-counter-speed="1500">15</span></h5>
                <p>Более 15 партнеров (Институты нутрициологии, Ассоциации, фитнес клубы, салоны красоты, производители БАДов) сотрудничают с нами</p>
            </div>
        </div>
    </div>
</section>
